@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --darker-bg:        #2A2A2A;
    --lighter-bg:       #3A3A3A;
    --grey-bg:          #575757;
    --radial-gold-bg:   radial-gradient(circle,rgba(213, 170, 109, 1) 46%, rgba(199, 179, 112, 1) 100%);
    --darker-text:        #2A2A2A;
    --white-text:       #FFFFFF;
    --grey-text:        #A2A2A2;
    --light-grey-text:  #B3B3B3;
    --border-radius:    6px;
    --title-font:       'EB Garamond';
    --text-font:        'Crimson Text';
    --interface-text:   'Roboto';
    --gold:             #D5AA6D;
    --small-icon:       24px;
    --medium-icon:      32px;
    --large-icon:       48px;
    --small-text:       12px;
    --medium-text:      16px;
    --large-text:       24px;
}

/* 
darker-bg		    2A2A2A
lighter-bg		    3A3A3A
radial-gold-bg	    radial-gradient(circle,rgba(213, 170, 109, 1) 46%, rgba(199, 179, 112, 1) 100%);	
white-text		    FFFFFF
border-radius	    6px
title-font		    EB Garamond
text-font		    Crimson Text
interface-text	    Roboto
gold		        D5AA6D
small-icon	        24px
medium-icon	        32px
large-icon	        48px    
small-text		    12px
medium-text	        16px
large-text		    24px 
*/
